body{
    background: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #2196f3;
    width: fit-content;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #2196f3;
    margin: 5rem auto;
}
input{
    width: 300px;
    padding: 5px;
    outline: none;
    border-radius: 0.5rem;
    text-align: right;
}
button{
    width: 60px;
    height: 50px;
    margin: 8px;
}
h4{
    font-size: 2rem;
    font-family:monospace;
}
p{
    color: yellow;
}